NEXT_PUBLIC_SUPABASE_URL=https://jerblnyvgrgkokrmhhgz.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImplcmJsbnl2Z3Jna29rcm1oaGd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxMzExMDIsImV4cCI6MjEwNTcwNzEwMn0.rrX8OEAgHLEuebvFmYP8iXDSlC-zt06A6Y7G5ZJkLa4
